body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.octave-view {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: max(95%, 300px);
}

.octave {
  /* Make this response on displays <300px wide later */
  width: max(300px, 30vw);
  height: min(30vh, 500px);
  position: relative;
}

.whites {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.sharps {
  width: 100%;
  height: 60%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 100%;
}

.key {
  /* Width intended for use in flex layout */
  width: calc(100% / 7);
  height: 100%;
  background-color: white;
  border: 2px solid black;
  border-bottom-width: 5px;
  border-radius: 0.3em;
  box-sizing: border-box;
}

.sharp {
  /* Width intended for use in grid layout */
  width: 50%;
  height: 100%;
  background-color: black;
  position: relative;
  left: -25%;
  /* Add depth effect with borders */
  border-radius: 0.35em;
  border-color: white;
  border-bottom-color: black;
  border-top-color: black;
}
