.Key {
  /* Width intended for use in flex layout */
  width: calc(100% / 7);
  height: 100%;
  background-color: white;
  border: 2px solid black;
  border-bottom-width: 5px;
  border-radius: 0.15em;
  box-sizing: border-box;
}

.Key:hover {
  background-color: rgb(210, 251, 237);
}

.BlackKey:hover {
  background-color: rgb(160, 255, 255);
}

.BlackKey {
  /* Width intended for use in grid layout */
  width: 50%;
  height: 100%;
  background-color: black;
  position: relative;
  left: -25%;
  top: -4%;
  z-index: 5;
  /* Add depth effect with borders */
  border-radius: 0.2em;
  border: 4px solid #333;
  border-bottom: 8px outset black;
  border-top: 2px solid black;
  pointer-events: auto;
}

.Ghost {
  width: 0px;
  height: 0px;
}

.Key.Marked {
  background-color: aquamarine;
  border-bottom-width: 2px;
  height: 99%;
  position: relative;
  top: 3px;
}

.BlackKey.Marked {
  background-color: cyan;
  border-width: 2px;
  top: -3px;
}
